<!DOCTYPE html>
<html lang="en" ng-app="duplicity">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Duplicity validator</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
          crossorigin="anonymous">
    <style>
      body {
        padding-top: 50px;
      }
       .main-content {
         padding: 40px 15px;
      }
      button {
        position: fixed;
        z-index: 100;
      }
    </style>
  </head>
  <body ng-controller="DuplicityController" ng-init="loadContent()">
    <nav class="navbar navbar-inverse navbar-fixed-top" >
	    <div class="container" >
        <div class="navbar-header" >
            <p class="navbar-brand">{{'Duplicity' + ' ' + 'validator'}}</p>
		    </div >
	    </div >
    </nav >

    <div class="container main-content">
      <div class="row">
        <div class="col-md-5">
          <div class="panel panel-default" >
            <div class="panel-heading">
              <a href="{{ sourceFile }}">Source</a>
            </div>
            <div class="panel-body" ng-bind-html="sourceHtml">
              
            </div>
          </div >
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-default" ng-click="removeDuplicity()">>>><br />Odstranit<br />duplicity<br />>>></button>
          <br /><br /><br /><br /><br /><br />
          <button type="button" class="btn btn-default" ng-click="highlightDuplicity()">>>><br />Zvyraznit<br />duplicity<br />>>></button>
        </div>
        <div class="col-md-5">
          <div class="panel panel-default" >
            <div class="panel-heading">
              Output
            </div>
            <div class="panel-body" ng-bind-html="outputHtml">
              
            </div>
          </div >
        </div>
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="app.js"></script>
  </body>
</html>